{
  "extends": ["airbnb-typescript", "plugin:prettier/recommended"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "semi": "off",
    "no-extra-semi": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/semi": ["off"],
    "@typescript-eslint/no-unused-vars": ["warn"],
    "react/no-unescaped-entities": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
