body {
	--color-light: #f0f8fd;
	--color-smoth: #4cc2ff;
	--color-wrong: #fd9c9c;
	--color-right: #aaffbc;
}

.App {
	text-align: center;
}

.App div {
	box-sizing: border-box;
}

.test {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.testOption {
	background: var(--color-light);
	flex-basis: 40%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	border-radius: 7px;
}
.testOption:hover {
	cursor: pointer;
	background: var(--color-smoth);
	color: var(--color-light);
}
@media (hover: none) {
	.testOption:hover {
		background: var(--color-light);
		color: black;
	}
}
.settings {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.result {
	padding-top: 40px;
}

.prevResult {
	background: var(--color-right);
	width: 50%;
	margin: 15px auto;
	padding: 15px;
	border-radius: 7px;
}
.prevResult table {
	width: 100%;
}
.prevResult table tr > td:first-child {
	width: 125px;
	text-align: right;
}
.prevResult.isWrong {
	background: var(--color-wrong);
}

.timer_container {
	margin: 0 auto;
	padding: 5px;
	width: 50%;
}

.red {
	background: var(--color-wrong);
}

.green {
	background: var(--color-right);
}

@media screen and (max-width: 960px) {
	.prevResult {
		width: calc(80% + 20% / 3);
		margin: 15px 0 0 calc(20% / 3);
	}
	.prevResult table tr > td:first-child {
		width: 100px;
	}
	.testOption {
		height: 72px;
	}
}
